@charset "utf-8";

@font-face{
    font-family:NotoSansKR;
    src:url(../fonts/NotoSansKR-Regular.eot);
    src:local('※'), url(../fonts/NotoSansKR-Regular.woff) format('woff');
}
@font-face{
    font-family:NotoSansKRM;
    src:url(../fonts/NotoSansKR-Medium.eot);
    src:local('※'), url(../fonts/NotoSansKR-Medium.woff) format('woff');
}
@font-face{
    font-family:Roboto;
    src:url(../fonts/Roboto-Regular.eot);
    src:local('※'), url(../fonts/Roboto-Regular.woff) format('woff');
}
@font-face{
    font-family:RobotoM;
    src:url(../fonts/Roboto-Medium.eot);
    src:local('※'), url(../fonts/Roboto-Medium.woff) format('woff');
}
@font-face{
    font-family:RobotoB;
    src:url(../fonts/Roboto-Bold.eot);
    src:local('※'), url(../fonts/Roboto-Bold.woff) format('woff');
}
@font-face{
    font-family:RobotoL;
    src:url(../fonts/Roboto-Light.eot);
    src:local('※'), url(../fonts/Roboto-Light.woff) format('woff');
}
@font-face{
    font-family:TahomaB;
    src:url(../fonts/Tahoma.eot);
    src:local('※'), url(../fonts/Tahoma.woff) format('woff');
}
@font-face{
    font-family:NanumSquare;
    src:url(../fonts/NanumSquareR.eot);
    src:local('※'), url(../fonts/NanumSquareR.woff) format('woff');
}
@font-face{
    font-family:Calibri;
    src:url(../fonts/Calibri 400.eot);
    src:local('※'), url(../fonts/Calibri 400.woff) format('woff');
}

/* base */
body {min-width:100%;width:100%;font-family:"Roboto","NotoSansKR",sans-serif; line-height:120%; font-size:13px; color:#444;}
* {margin: 0; padding: 0;}
img {border:0; vertical-align:top;}
ul, ol {list-style-type: none;}
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal;}
fieldset, hr {border: 0;}
label, select, input, textarea {vertical-align:middle;font-family:"NotoSansKR", sans-serif;}
button{font-family:"Roboto","NotoSansKR",sans-serif;}
table {border-collapse:collapse;}
table td img {vertical-align:middle;}

a:link, a:visited {color:#666666; text-decoration:none;}
a:hover, a:active, a:focus {color:#202020; text-decoration:none;}
a:hover{text-decoration:none;}

address {font-style:normal;}

caption, legend {position:absolute;width:0;height:0;text-indent:-9999px;overflow:hidden}




.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.bdn{border:none;}

/* radio button */
.radioType1[type="radio"]:checked,.radioType1[type="radio"]:not(:checked) {position: absolute;left: -9999px;}
.radioType1[type="radio"]:checked + label,.radioType1[type="radio"]:not(:checked) + label{position: relative;padding-left: 22px;cursor: pointer;display: inline-block;color: #666;font-family:NotoSansKR;font-size:15px;}
.radioType1.gray[type="radio"]:checked + label,.radioType1.gray[type="radio"]:not(:checked) + label{position: relative;margin:0 6px;padding-left: 20px;cursor: pointer;display: inline-block;color: #6f6f6f;font-family:NotoSansKR;font-size:14px;line-height:14px;}
.radioType1.gray:first-child[type="radio"]:checked + label,.radioType1.gray:first-child[type="radio"]:not(:checked) + label{margin-left:0;}
.radioType1.blue[type="radio"]:checked + label,.radioType1.blue[type="radio"]:not(:checked) + label{position: relative;margin:0 6px;padding-left: 20px;cursor: pointer;display: inline-block;color: #6f6f6f;font-family:NotoSansKR;font-size:14px;line-height:14px;}
.radioType1.blue:first-child[type="radio"]:checked + label,.radioType1.blue:first-child[type="radio"]:not(:checked) + label{margin-left:0;}
.radioType1[type="radio"]:checked + label:before,.radioType1[type="radio"]:not(:checked) + label:before {content: '';position: absolute;left: 0;top: 0;width: 14px;height: 14px;border: 1px solid #c3c3c3;border-radius: 100%;background: #fff;}
.radioType1.gray[type="radio"]:checked + label:before{content: '';position: absolute;left: 0;top: 0;width: 11px;height: 11px;border: 1px solid #2aa2db;border-radius: 100%;background: #fff;}
.radioType1.gray[type="radio"]:not(:checked) + label:before {content: '';position: absolute;left: 0;top: 0;width: 11px;height: 11px;border: 1px solid #737373;border-radius: 100%;background: #fff;}
.radioType1.blue[type="radio"]:checked + label:before{content: '';position: absolute;left: 0;top: 0;width: 11px;height: 11px;border: 1px solid #2aa2db;border-radius: 100%;background: #fff;}
.radioType1.blue[type="radio"]:not(:checked) + label:before {content: '';position: absolute;left: 0;top: 0;width: 11px;height: 11px;border: 1px solid #737373;border-radius: 100%;background: #fff;}
.radioType1[type="radio"]:checked + label:after,.radioType1[type="radio"]:not(:checked) + label:after {content: '';width: 8px;height: 8px;background: #3e58b2;position: absolute;top: 4px;left: 4px;border-radius: 100%;-webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
.radioType1.gray[type="radio"]:checked + label:after,.radioType1.gray[type="radio"]:not(:checked) + label:after {content: '';width: 5px;height: 5px;background: #000;position: absolute;top: 4px;left: 4px;border-radius: 100%;-webkit-transform: none;transform: none;}
.radioType1.blue[type="radio"]:checked + label:after,.radioType1.blue[type="radio"]:not(:checked) + label:after {content: '';width: 5px;height: 5px;background: #000;position: absolute;top: 4px;left: 4px;border-radius: 100%;-webkit-transform: none;transform: none;}
.radioType1[type="radio"]:not(:checked) + label:after {opacity: 0;-webkit-transform: scale(0);transform: scale(0);}
.radioType1[type="radio"]:checked + label:after {opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
.radioType1.gray[type="radio"]:not(:checked) + label:after {opacity: 0;-webkit-transform: none;transform: none;}
.radioType1.gray[type="radio"]:checked + label:after {opacity: 1;-webkit-transform: none;transform: none;}

/* checkbox */
input[type="checkbox"].chkBoxType2 {display: none;}
input[type="checkbox"].chkBoxType2+label{cursor:pointer;color:#6f6f6f;font-size:15px;font-family: NotoSansKR;}
input[type="checkbox"].chkBoxType2+label > span.checkBox{display: inline-block;width: 15px;height: 15px;margin: -2px 11px 0 0;vertical-align: middle;background: url(../images/checkboxTypeOff2.png) no-repeat 0 0;cursor: pointer;}
input[type="checkbox"].chkBoxType2:checked+label > span.checkBox{background: url(../images/checkboxTypeOn2.png) no-repeat 0 0;cursor: pointer;background-size:15px 15px;}
input[type="checkbox"].chkBoxType3{display:none;}
input[type="checkbox"].chkBoxType3+label{cursor:pointer;color:#1f1f1f;font-size:15px;font-family: NotoSansKR;}
input[type="checkbox"].chkBoxType3+label > span.checkBox{display: inline-block;width: 15px;height: 15px;margin: -2px 6px 0 0;vertical-align: middle;background: url(../images/checkboxTypeOff3.png) no-repeat 0 0;cursor: pointer;}
input[type="checkbox"].chkBoxType3:checked+label > span.checkBox{background: url(../images/checkboxTypeOn3.png) no-repeat 0 0;cursor: pointer;background-size:15px 15px;}
input[type="checkbox"].chkBoxType4{display:none;}
input[type="checkbox"].chkBoxType4+label{cursor:pointer;color:#1f1f1f;font-size:15px;font-family: NotoSansKR;}
input[type="checkbox"].chkBoxType4+label > span.checkBox{display: inline-block;width: 16px;height: 16px;margin: -2px 6px 0 0;vertical-align: middle;background: url(../images/checkboxTypeOff4.png) no-repeat 0 0;cursor: pointer;}
input[type="checkbox"].chkBoxType4:checked+label > span.checkBox{background: url(../images/checkboxTypeOn4.png) no-repeat 0 0;cursor: pointer;background-size:16px 16px;}
input[type="checkbox"].chkBoxType5{display:none;}
input[type="checkbox"].chkBoxType5+label{cursor:pointer;color:#1f1f1f;font-size:15px;font-family: NotoSansKR;}
input[type="checkbox"].chkBoxType5+label > span.checkBox{display: inline-block;width:17px;height:15px;margin: -2px 6px 0 0;vertical-align: middle;background: url(../images/checkboxTypeOff5.png) no-repeat 0 0;cursor: pointer;}
input[type="checkbox"].chkBoxType5:checked+label{color:#3e58b2;}
input[type="checkbox"].chkBoxType5:checked+label > span.checkBox{width:17px;height:15px;background: url(../images/checkboxTypeOn5.png) no-repeat 0 0;cursor: pointer;background-size:17px 15px;}
input[type="checkbox"].chkBoxType6{display:none;}
input[type="checkbox"].chkBoxType6+label{cursor:pointer;color:#818181;font-size:13px;font-family: NotoSansKR;}
input[type="checkbox"].chkBoxType6+label > span.checkBox{display: inline-block;width:14px;height:14px;margin: -2px 6px 0 0;vertical-align: middle;background: url(../images/checkboxTypeOff6.png) no-repeat 0 0;cursor: pointer;}
input[type="checkbox"].chkBoxType6:checked+label{color:#818181;}
input[type="checkbox"].chkBoxType6:checked+label > span.checkBox{width:14px;height:14px;background: url(../images/checkboxTypeOn6.png) no-repeat 0 0;cursor: pointer;background-size:14px 14px;}
input[type="checkbox"].chkBoxType7{display:none;}
input[type="checkbox"].chkBoxType7+label{cursor:pointer;color:#434343;font-size:15px;font-family: NotoSansKR;}
input[type="checkbox"].chkBoxType7+label > span.checkBox{display: inline-block;width:14px;height:14px;margin: -2px 6px 0 0;vertical-align: middle;background: url(../images/checkboxTypeOff7.png) no-repeat 0 0;cursor: pointer;}
input[type="checkbox"].chkBoxType7:checked+label{color:#434343;}
input[type="checkbox"].chkBoxType7:checked+label > span.checkBox{width:14px;height:14px;background: url(../images/checkboxTypeOn7.png) no-repeat 0 0;cursor: pointer;background-size:14px 14px;}
input[type="checkbox"].chkBoxType8{display:none;}
input[type="checkbox"].chkBoxType8+label{cursor:pointer;color:#6d6d6d;font-size:14px;font-family: NotoSansKR;}
input[type="checkbox"].chkBoxType8+label > span.checkBox{display: inline-block;width:14px;height:14px;margin: -2px 6px 0 0;vertical-align: middle;background: url(../images/checkboxTypeOff8.png) no-repeat 0 0;cursor: pointer;}
input[type="checkbox"].chkBoxType8:checked+label{color:#6d6d6d;}
input[type="checkbox"].chkBoxType8:checked+label > span.checkBox{width:14px;height:14px;background: url(../images/checkboxTypeOn8.png) no-repeat 0 0;cursor: pointer;background-size:14px 14px;}



















